Repository MRtrix3/mrtrix3, pull requests merged in 2018-06, with the labels that each got.

#1358 Yet another FBA fix
  docs/fixel_based_analysis/common_fba_steps/statistics.rst
  docs/fixel_based_analysis/common_fba_steps/tractography.rst
  docs/fixel_based_analysis/computing_effect_size_wrt_controls.rst
  docs/fixel_based_analysis/mt_fibre_density_cross-section.rst
  docs/fixel_based_analysis/st_fibre_density_cross-section.rst
Labels: bug, critical, documentation

#1359 DICOM: Fix slice timing import for mosaic data
  core/file/dicom/csa_entry.h
  core/file/dicom/image.cpp
Labels: bug

#1354 Update README.md
  README.md
  build
  core/command.h
Labels: documentation

#1361 mrview Connectome tool: Fix edge visibility
  src/gui/mrview/tool/connectome/connectome.cpp
Labels: bug, critical, gui

#1350 mrview Connectome tool: Fix streamtube initialisation
  src/gui/mrview/tool/connectome/connectome.cpp
Labels: bug, critical, gui

#1365 mrview: Allow mulitple uses of -tractography.geometry
  src/gui/mrview/tool/tractography/tractography.cpp
Labels: bug, gui
