Repository MRtrix3/mrtrix3, pull requests merged in 2021-06, with the labels that each got.

#2288 dwishellmath: Compatibility with one unique b-value
  bin/dwishellmath
  testing/scripts/tests/dwishellmath
Labels: bug, scripts

#2342 mrview: accept drop events
  src/gui/mrview/tool/fixel/fixel.cpp
  src/gui/mrview/tool/overlay.cpp
  src/gui/mrview/tool/roi_editor/roi.cpp
  src/gui/mrview/tool/tractography/tractography.cpp
  src/gui/mrview/window.cpp
Labels: bug, gui

#2343 configure: Add libpng envvars to usage string
  configure
Labels: build, documentation

#2347 mrview Overlay: Fix segfault on bad image load
  core/file/nifti_utils.cpp
  src/gui/mrview/tool/overlay.cpp
Labels: bug, gui

#2317 Compatibility with Pylint 2.8
  build
  configure
  lib/mrtrix3/__init__.py
  lib/mrtrix3/app.py
  lib/mrtrix3/image.py
Labels: CI/tests, build, scripts

#2262 dwifslpreproc: Fix to b=0 volume matching
  bin/dwifslpreproc
Labels: bug, scripts

#2213 population_template: replace whitespace in unique filename
  bin/population_template
Labels: bug

#2277 for_each: Fix use of regex for entry exclusion
  bin/for_each
  testing/scripts/tests/for_each
Labels: bug, scripts

#2193 Transparently handle UTF-8 dashes as regular ones
  core/app.cpp
  core/app.h
  core/formats/pipe.cpp
  core/header.cpp
  core/image.h
  core/mrtrix.h
Labels: enhancement
