Repository MRtrix3/mrtrix3, pull requests merged in 2022-12, with the labels that each got.

#2532 GitHub Actions: fix dependencies on Ubuntu 22.04
  .github/workflows/checks.yml
  build
  cmd/tckedit.cpp
  cmd/warp2metric.cpp
  src/dwi/tractography/SIFT2/tckfactor.cpp
  src/gui/mrview/tool/connectome/connectome.cpp
Labels: CI/tests

#2531 DICOM: fix parsing of DateTime entry
  core/file/dicom/element.cpp
Labels: bug, DICOM

#2523 DICOM: fix import of gradient table
  core/file/dicom/image.cpp
  core/file/dicom/image.h
Labels: bug, DICOM

#2548 show correct version in symlinked python scripts
  lib/mrtrix3/app.py
Labels: bug, python

#2549 DICOM: Tweak terminal messages
  core/file/dicom/tree.cpp
  core/formats/dicom.cpp
Labels: DICOM

#2513 Outlier rejection in dwi2tensor
  cmd/dwi2tensor.cpp
Labels: wishlist, test wanted
