Repository MRtrix3/mrtrix3, pull requests merged in 2025-08, with the labels that each got.

#3124 Remove readability-function-cognitive-complexity clang-tidy check
  .clang-tidy
Labels: code quality

#3146 Fix phase encoding handling on 3.0.7
  bin/dwifslpreproc
  cmd/mrinfo.cpp
  core/header.cpp
  core/metadata/phase_encoding.cpp
  core/metadata/phase_encoding.h
  docs/concepts/pe_scheme.rst
  docs/reference/commands/dwiextract.rst
  docs/reference/commands/mrconvert.rst
  docs/reference/commands/mrinfo.rst
  lib/mrtrix3/_5ttgen/fsl.py
  lib/mrtrix3/phaseencoding.py
  testing/binaries/tests/mrcat
  testing/scripts/tests/dwifslpreproc
Labels: bug, critical, scripts

#3153 run.command(): Fix operation of -continue
  python/mrtrix3/run.py
Labels: bug, Python API
